/** {
  outline: 1px solid red;
}*/

html, body {
  min-height: 100%;
}

.container__main {
  width: 100%;
  height: 100%;
  background: #DDDDDD;
  padding-top: 25px;
  padding-bottom: 25px;
}

.content-container {
  width: 600px;
  margin: 0 auto;
  background: white;
  box-sizing: border-box;
  /*padding: 15px;*/
  border: 1px solid #444;

}


.container__header {
  width: 100%;
  height: auto;
  background: white;
  
}

.box {
  width: 100%;
  height: 80px;
   
}

.red {
  background: #D0021B;
}

.blue {
  background: #4A90E2;
}

.gray {
  background: #4A4A4A;
}

.col3 {
  width: 33.33%;
  float: left;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-left: 15px;
}

.col3:last-child {
  padding-right: 15px;
}


.container__text {
  font-size: 16px;
  font-family: sans-serif;
  padding: 0 15px;
}

.container__text p {
  margin: 20px 0;
}


.container__second {

  width: 100%;
  height: 250px;
  box-sizing: border-box;
  padding: 15px;
}


.container__second .container {
  height: 100%;
  float: left;

}

.left {
  width: 30%;
}

.right {
  width: 70%;
}


footer {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 15px;
}


.container__left {
  width: 70%;
  height: 100%;
  float: left;
}

.container__right {
  width: 30%;
  height: 100%;
  float: left;
}

.container__inside {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* clear fix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
